table{box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;}
th,td{box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;}
th{box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;}