<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
     http://www.springframework.org/schema/beans/spring-beans-2.0.xsd    
     http://www.springframework.org/schema/tx    
     http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
    <bean id="pushQuertz" lazy-init="false" autowire="autodetect"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="dataSource">  
        	<ref bean="dataSource" /> 
        </property>
		<property name="overwriteExistingJobs" value="true"/>
		<property name="applicationContextSchedulerContextKey" value="applicationContext" />
		<property name="configLocation" value="classpath:quartz.properties" />
		
		<property name="triggers">  
            <list>  
                <ref bean="sendPushTrigger" />  
            </list>  
        </property>  
	</bean>
	
    <!--  定义触发时间 -->
    <bean id="sendPushTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="sendPushJob"/>
        </property>
        <!-- cron表达式 -->
        <property name="cronExpression">
            <value>*/5 * * * * ?</value>
        </property>
    </bean>
	
    <bean id="sendPushJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass">
            <value>
                com.tlong.quartz.DetailQuartzJobBean
            </value>
        </property>
        <property name="jobDataAsMap">  
            <map>  
                <entry key="targetObject" value="monitorDeleteQuartz" />  
                <entry key="targetMethod" value="execute" />  
            </map>  
        </property>  
    </bean>
</beans>
